.App {
  text-align: center;
 background-color:crimson;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* button
{
  width:35px;
  height:25px;
  text-align: center;
  background:lightblue;
  border-radius: 20%;
 
} */

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
 width:10%;
}

.result
{
background-color:lightcoral;
width: 30%;
padding:0px;
border: 1px solid black;

}

.imagealign
{
  display: inline-block;
 

}
img{
  height: 200px;
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
